Repository AmericanMedicalAssociation/ama-style-guide-2, pull requests merged in 2022-10, with the labels that each got.

#1261 Adjust styling for bookmark cta on application nodes.
  styleguide/source/assets/scss/03-organisms/_bookmarks.scss
Labels: priority, ready for review

#1254 ADF-124 : Prototype "credentialing products" bar (AMA Doctor Finder)
  styleguide/source/_patterns/01-atoms/forms/search-field-dr-finder.json
  styleguide/source/_patterns/01-atoms/forms/search-field-dr-finder.twig
  styleguide/source/_patterns/03-organisms/dr-finder-search/dr-finder-search.json
  styleguide/source/_patterns/03-organisms/dr-finder-search/dr-finder-search.md
  styleguide/source/_patterns/03-organisms/dr-finder-search/dr-finder-search.twig
  styleguide/source/assets/scss/01-atoms/_search-field-dr-finder.scss
  styleguide/source/assets/scss/03-organisms/_dr-finder-search.scss
Labels: ready for review, AMA Dr Finder

#1263 ADF-139: Add pill buttons
  styleguide/source/_patterns/01-atoms/button/button~as-pill-secondary.json
  styleguide/source/_patterns/01-atoms/button/button~as-pill.json
  styleguide/source/assets/scss/00-base/__01.mixins/_ama-button.scss
  styleguide/source/assets/scss/01-atoms/_button.scss
Labels: ready for review, AMA Dr Finder

#1260 ADF-120: Proto Header
  styleguide/source/_patterns/03-organisms/dr-finder-main-navigation/dr-finder-main-navigation.json
  styleguide/source/_patterns/03-organisms/dr-finder-main-navigation/dr-finder-main-navigation.md
  styleguide/source/_patterns/03-organisms/dr-finder-main-navigation/dr-finder-main-navigation.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder.twig
  styleguide/source/assets/scss/03-organisms/_dr-finder-main-navigation.scss
Labels: ready for review, AMA Dr Finder

#1257 ADF-128: Search filters
  styleguide/source/_patterns/01-atoms/button/button.twig
  styleguide/source/_patterns/01-atoms/button/button~as-with-icon.json
  styleguide/source/_patterns/02-molecules/dr-finder-filter-list/dr-finder-filter-list.json
  styleguide/source/_patterns/02-molecules/dr-finder-filter-list/dr-finder-filter-list.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.twig
  styleguide/source/assets/js/dr-finder-filter-list.js
  styleguide/source/assets/js/vendor/jquery.once.js
  styleguide/source/assets/scss/00-base/__01.mixins/_ama-button.scss
  styleguide/source/assets/scss/01-atoms/_button.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-filter-list.scss
Labels: ready for review, AMA Dr Finder

#1265 Adf 130 prototype search results header
  styleguide/source/_patterns/02-molecules/dr-finder-search-results-header/dr-finder-search-results-header.json
  styleguide/source/_patterns/02-molecules/dr-finder-search-results-header/dr-finder-search-results-header.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.twig
  styleguide/source/assets/scss/02-molecules/_dr-finder-filter-list.scss
  styleguide/source/assets/scss/02-molecules/search-result/_dr-finder-search-results-header.scss
Labels: ready for review, AMA Dr Finder

#1264 ADF-141: Add Discard Changes modal
  styleguide/source/_patterns/02-molecules/dr-finder-modal/dr-finder-modal.json
  styleguide/source/_patterns/02-molecules/dr-finder-modal/dr-finder-modal.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-modal.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-modal.twig
  styleguide/source/assets/scss/02-molecules/_dr-finder-modal.scss
Labels: ready for review

#1267 ADF-136 : Prototype doctor edit header - no image
  styleguide/source/_patterns/02-molecules/dr-finder-modal/dr-finder-modal.json
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header.json
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-modal.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-profile-complete.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-profile-complete.twig
  styleguide/source/assets/scss/00-base/_colors.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-filter-list.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-profile-header.scss
  styleguide/source/assets/scss/03-organisms/_dr-finder-main-navigation.scss
Labels: ready for review, AMA Dr Finder

#1268 Adf 129 prototype search results
  styleguide/source/_patterns/01-atoms/dr-finder-badge/dr-finder-badge.json
  styleguide/source/_patterns/01-atoms/dr-finder-badge/dr-finder-badge.md
  styleguide/source/_patterns/01-atoms/dr-finder-badge/dr-finder-badge.twig
  styleguide/source/_patterns/02-molecules/dr-finder-search-result-card/dr-finder-search-result-card.json
  styleguide/source/_patterns/02-molecules/dr-finder-search-result-card/dr-finder-search-result-card.md
  styleguide/source/_patterns/02-molecules/dr-finder-search-result-card/dr-finder-search-result-card.twig
  styleguide/source/_patterns/02-molecules/dr-finder-search-result-card/dr-finder-search-result-card~member.json
  styleguide/source/_patterns/02-molecules/dr-finder-search-result-card/dr-finder-search-result-card~verified-member.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.twig
  styleguide/source/assets/scss/01-atoms/_dr-finder-badge.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-search-result-card.scss
Labels: AMA Dr Finder

#1269 Adf 138 profile header with image
  styleguide/source/_patterns/01-atoms/dr-finder-badge/dr-finder-badge.twig
  styleguide/source/_patterns/02-molecules/dr-finder-filter-list/dr-finder-filter-list.twig
  styleguide/source/_patterns/02-molecules/dr-finder-modal/dr-finder-modal.twig
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header.twig
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header~logged-in.json
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header~verified-and-member.json
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header~with-image.json
  styleguide/source/_patterns/02-molecules/dr-finder-search-result-card/dr-finder-search-result-card.twig
  styleguide/source/_patterns/02-molecules/dr-finder-search-results-header/dr-finder-search-results-header.twig
  styleguide/source/_patterns/03-organisms/dr-finder-main-navigation/dr-finder-main-navigation.twig
  styleguide/source/_patterns/03-organisms/dr-finder-search/dr-finder-search.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-profile-edit.json
  styleguide/source/assets/scss/02-molecules/_dr-finder-filter-list.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-modal.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-profile-header.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-search-result-card.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-search-results-header.scss
Labels: ready for review, AMA Dr Finder

#1271 ADF-134: Prototype doctor claim profile
  styleguide/source/_patterns/01-atoms/button/button~as-pill-claim.json
  styleguide/source/_patterns/02-molecules/dr-finder-claim/dr-finder-claim.json
  styleguide/source/_patterns/02-molecules/dr-finder-claim/dr-finder-claim.twig
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header.json
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header.twig
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header~logged-in.json
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header~verified-and-member.json
  styleguide/source/_patterns/02-molecules/dr-finder-profile-header/dr-finder-profile-header~with-image.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-profile-complete.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-profile-edit.json
  styleguide/source/assets/scss/00-base/__01.mixins/_ama-button.scss
  styleguide/source/assets/scss/01-atoms/_button.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-claim.scss
  styleguide/source/assets/scss/02-molecules/_dr-finder-profile-header.scss
Labels: ready for review, AMA Dr Finder

#1266 Fix script to make AMA locker nav sticky for non-admin users.
  styleguide/source/assets/js/nav.js
Labels: ready for review

#1272 EWL-9708: Styling for read time in related article stubs.
  styleguide/source/assets/scss/02-molecules/_article-stub.scss
Labels: ready for review

#1270 EWL-9721: Fixes read more link displaying on category pages.
  styleguide/source/assets/js/index-page.js
Labels: ready for review

#1276 ADF-126: Prototype autocomplete dropdown
  styleguide/source/assets/js/dr-finder-autocomplete-states.js
  styleguide/source/assets/scss/01-atoms/_search-field-dr-finder.scss
Labels: ready for review, AMA Dr Finder

#1275 Adf 140 prototype interview questions form
  styleguide/source/_patterns/02-molecules/dr-finder-interview-questions/dr-finder-interview-questions.json
  styleguide/source/_patterns/02-molecules/dr-finder-interview-questions/dr-finder-interview-questions.md
  styleguide/source/_patterns/02-molecules/dr-finder-interview-questions/dr-finder-interview-questions.twig
  styleguide/source/_patterns/02-molecules/dr-finder-profile-fields/dr-finder-profile-fields.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-profile-edit.json
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-profile-edit.twig
Labels: ready for review

#1280 ADF-131: Loading gif
  styleguide/source/_patterns/01-atoms/loading/loading.twig
  styleguide/source/_patterns/05-pages/dr-finder/dr-finder-with-search-results.twig
  styleguide/source/assets/icons/loading.gif
  styleguide/source/assets/scss/01-atoms/_loading.scss
Labels: ready for review

#1283 ADF- 82 theme non member
  styleguide/source/assets/scss/02-molecules/_dr-finder-claim.scss
Labels: ready for review, AMA Dr Finder

#1284 EWL-9708: Fix spacing in titles on article stub lists.
  styleguide/source/assets/scss/02-molecules/_article-stub.scss
Labels: priority, ready for review

#1281 EWL-9763: Mobile styling for suggested listings.
  styleguide/source/assets/scss/05-pages/_glossary.scss
Labels: priority, ready for review
